#nav{
list-style-type:none;
margin:15px 0 0 0;
padding:0;
}
#nav li{
width:15.5%;
margin-left:1%;
float:left;
text-align:center
}
#nav a{
display:block;
padding:0.5em 15px;
text-decoration:none;
font-weight:bolder;
font-size:20;
color:#F2F2F2;
border-radius:10px;
box-shadow:3px 3px 3px rgba(51,51,51,0.3);
}
#nav a:link,#nav:visited{
background-color:#071726;
text-decoration:none;
}
#nav a:hover,#nav a:active,#nav a:focus{
background-color:#326773;
text-decoration:none;
}
#sidebar{
height:100%;
text-align:center;
font-size:200%;
float:left;
width:35%;
margin:.75%;
background-color:#006400;
color:white;
}
#main{
text-decoration:none;
float:left;
background-color:#006400;
margin-top:2%;
margin:1%;
width:60%;
color:white;
height:90%;
}
#main a,#main a:active,#main a:focus
{
color:red;
text-decoration:none;
}
#main a:hover
{
color:white;
text-decoration:none;
}
body{
background-color:rgb(0,120,0);
}
#footer ul
{
list-style-type:none;
position:relative;
bottom:20%;
}
#footer li
{
list-style-type:none;
font-size:150%;
width:15%;
margin-top:5%;
margin-bottom:10%;
margin-left:5%;
float:left;
text-align:center;
}
#footer a
{
color:white;
font-weight:bolder;
text-decoration:none;
list-style-type:none;
}
#footer a:hover
{
color:red;
font-weight:bolder;
text-decoration:none;
list-style-type:none;
}
#head
{
color:white;
text-decoration:none;
font-size:100px;
}
#loghead
{
color:white;
text-decoration:none;
font-size:260%;
}
#pass
{
margin:2%;
color:white;
text-decoration:none;
font-size:200%;
position:relative;
right:-5%;
}
.forma
{
position:relative;
right:-5%;
margin:2%;
color:white;
text-decoration:none;
font-size:200%;
}
#user
{
position:relative;
right:-5%;
margin:2%;
font-size:200%;
color:white;
text-decoration:none;
}
body,head,html
{
zoom:.75;
}
.field
{
width:20%;
font-weight:bolder;
font-size:80%;
background-color:rgb(0,255,0);
color:black;
}
#formlist
{
list-style-type:none;
position:bottom;
font-size:xx-large;
}
#formlist li{
margin:5%;
width:20%;
margin-right:2%;
float:right;
text-align:center;
}
#formlist a
{
color:white;
font-weight:bolder;
text-decoration:none;
}
#formlist a:hover
{
color:red;
font-weight:bolder;
text-decoration:none;
}
#sub:hover,#sub1:hover{
background-color:white;
color:black;
text-decoration:none;
}
#sub
{
color:white;
background-color:black;
width:200px;
font-size:130%;
margin-left:25%;
}

#sub1
{
color:white;
background-color:black;
width:255px;
font-size:62%;
margin-left:2%;
}
body,head,html
{
zoom:.75;
}
#bod1
{
position:relative;
right:-10%;
color:white;
padding:1% 1%;
width:50%;
font-size:150%;
}
#li2
{
position:relative;
right:-10%;
padding:1% 1%;
}
#w2w
{
position:relative;
right:-10%;
padding:1% 1%;
}
#hbh
{
position:relative;
right:-10%;
padding:1% 1%;
}
#vgv
{
position:relative;
right:-10%;
padding:14% 10%;
}
#f1f
{
color:white;
}
#nnn
{
font-size:200%;
padding-top:30%;
padding-bottom:40%;
padding-left:21%;
text-decoration:none;
}
#wel
{
font-size:200%;
padding-top:30%;
padding-bottom:40%;
padding-left:21%;
text-decoration:none;
}
